extends ../layouts/base.pug

block body
    main
        if products.length
            div.grid
                each product in products
                    article.card.product-item 
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=`${product.image}`, alt=product, srcset="")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        a(href=`/shop/product/${product.id}`) Learn More
        else 
            h1 There is no products
    script(src="/js/script.js") 